.list-socials {
    list-style: none;
    position: fixed;
    top: 50%;
    width: 3.5em;
    height: 19em;
    margin-bottom: 0;
    margin-top: -9.5em;
}
.icon {
    padding: 1em 0.2em;
    margin: auto;
    display: block;
    font-size: 2em;
    text-align: center;
    color: black;
    background: transparent;
}

.github:hover i{
    color: rgba(0, 0, 0, 0.6);
    transition: all .3s ease-in-out 0s;
    text-shadow: -2px 5px 5px #7523bdb0;
}

.linkedin:hover i{
    color: #0e76a8;
    transition: all .3s ease-in-out 0s;
    text-shadow: -2px 5px 5px #7523bdb0;
}

.contact-me:hover i{
    color: #f48024;
    transition: all .3s ease-in-out 0s;
    text-shadow: -2px 5px 5px #7523bdb0;
}

.github:active i{
    color:  rgba(0, 0, 0, 0.7);
    text-shadow: -1px 3px 3px #7523bdb0;
    transform: translateY(2px);
  }

.linkedin:active i{
    color: #075b83;
    text-shadow: -1px 3px 3px #7523bdb0;
    transform: translateY(2px);
}

.contact-me:active i{
    color: #d66f1b;
    text-shadow: -1px 3px 3px #7523bdb0;
    transform: translateY(2px);
}

.github.focus i{
    color:  black;
    text-shadow: none;
  }

.linkedin.focus i{
    color:  black;
    text-shadow: none;
}

.contact-me.focus i{
    color:  black;
    text-shadow: none;
}

@media (max-width: 576px){
    .list-socials{
        display: inline-flex;
        justify-content: space-evenly;
        /* font-size: 1.2em; */
        width: 100%;
        position: unset;
        margin: auto;
        height: auto;
        top:auto; 
        list-style: none;
        margin: auto;
    }

    .github i{
        color: white;
    }
    
    .linkedin i{
        color: #0e76a8;
    }
    
    .contact-me i{
        color: #f48024;
    }

    .github:focus i{
        color: black;
        text-shadow: none;
      }
    
    .linkedin:focus i{
        color: black;
        text-shadow: none;
    }
    
    .contact-me:focus i{
        color: black;
        text-shadow: none;
    }
       
    .icon {
        padding: .5em;
        font-size: 2em;
        padding: 0;
        height: 1em;
    }
}

@media (hover: none) {
    .github:hover i{
        color: white;
        text-shadow: none;
      }
    .linkedin:hover i{
        color: #0e76a8;
        text-shadow: none;
    }
    .contact-me:hover i{
        color: #f48024;
        text-shadow: none;
    }

}