.col-sm-1half {
    width: 4em;
}

.toggleBar {
    background-color: white;
    height: 100%;
    display: flex;
    justify-content: center;
}

.content-conteiner {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5em 2em;
    color: white;
}

.contacts-hidden{
    display: none;
}

.toggleBar-hidden{
    display: none;
}

.contacts {
    background-color: white;
    height: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 576px){

    .col-sm .content-conteiner {
        padding: 4em .5em 2em .5em;
    } 
    #leftBar,
    #rightBar {
        display: none;
    }

    .toggleBar-hidden{
        display: block;
        position: fixed;
        top: 4.5em;
        left: 0;
    }

}

@media (max-height: 415px){
    .col-sm .content-conteiner {
    padding: 2em .5em 2em .5em;
    }
}