.main-text {
    color: white;
    font-family: 'Bellota Text', cursive;
    font-size: 1.5em;
}

.greeting {
    font-size: 2em;
    font-weight: bold;
    text-align: right;
    display: block;
}

.summary {
    line-height: 2em;
    max-width: 75%;
    float: right;
    text-align: right;
    display: block;
}

.fa-js{
    color: #F0DB4F;
}

.fa-react{
    color: #61DBFB;
}

.fa-node{
    color: #68A063;
}

@media (max-width: 576px){
    .summary {
        font-size: 1em;
        line-height: 1.5em;
    }
    .greeting-text {
        font-size: 1.2em;
    }
}
