.bottom{
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%;
}

.col-sm .downBar {
  background-color: white;
  height: 100%;
  min-height: 2.5em;
  padding-top: .5em;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
}

.col-sm .downBar .clock {
  display: block;
  width: 4.5em;
}

@media (max-width: 576px){
  .col-sm .downBar {
      display: none;
  }
 } 

@media (max-height: 415px){
  .col-sm .downBar {
     display: none;
  }
}