.col-sm.footer {
  background: white;
  font-family: 'Baloo Tammudu 2', cursive;
  /* height: inherit; */
  /* max-height: 3em; */
  padding-top: .5em;
  font-size: 1.5em;
  /* display: flex; */
  align-items: center;
}

.col-sm.footer .clock {
  display: block;
  margin: auto;
  width: 4em;
}

@media (max-width: 576px){
  .col-sm.footer {
      padding:  0.5em 0em;
  }
} 

@media (max-height: 415px){
  .col-sm.footer {
     display: none;
  }
}