.back-button-container {
    padding: 0;
    position: fixed;
    top: 50%;
    height: 4em;
    margin-bottom: 0;
    margin-top: -2em;
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

div.content-conteiner div.main-text{
    text-align: right;
}

form {
    justify-content: center;
}

.form-group {
    max-width: 35rem;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.mail-button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

@media (max-width: 576px){
    .content-conteiner {
        padding: 1em 0.5em 1em 0;
    } 
    .contacts,
    .toggleBar {
        display: none;
    }
    
}